body
{
color:#073362;
background-color: aliceblue;
}
article 
{
    width: 70%;
    height: 75%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 20px 20px 20px 0px;
}

aside {
    width: 55%;
    height:100%;
    float: right;
    color:black;
    background-color: orange;
    padding: 0px 10px 10px 10px;
    margin-top: 20px;
    border: solid 5px Black;
    border-radius: 10px;
}

h2
{
    color:#0101f5;
}
section 
{
    padding: 10px 10px 10px 10px;
    margin-top: 20 px;
    margin-bottom: 20px;
    margin-right:40px;
    border: solid 10px rgb(13, 178, 239);
    border-radius: 20px;
    background-color: #5780a8;
}
p
{
    color:white;
}
nav 
{
    color: #7396b9;
    padding: 10px;
    border-radius: 10px;
    border: solid 2x lightblue;
}

nav ul 
{
    padding: 5px;
}

li.navigatie 
{
    display: inline;
    margin-right: 10 px;
    background-color: white
}

nav a 
{
    border: solid 2px black;
    border-radius: 10px;
    padding: 10px;
}

a:link 
{
    color:  #a9c4e2;
    text-decoration: none;
    padding: 10px;
    text-align: center;
}

a:hover 
{
    color: white;
    background-color: rgb(81, 125, 220);
    text-decoration: underline;
    border: solid 2x lightblue;
    border-radius: 10px;
}

a:active 
{
    color: #073362;
}

table{
    color:#c4ccdd;
}
#logo
{
    display: block;
    margin: 0px auto 0px auto;
    padding: 10px;
}
li.contact
{
    display: inline;
    margin-right: 10 px;
    background-color: orange ;
}
li.contact :hover
{
    background-color: orange ;
}
li.contact:link 
{
    color:  white;
    text-decoration: none;
    padding: 10px;
    text-align: center;
}
a.PDF
{
    
    display: inline;
    margin-right: 10 px;
    background-color: magenta ;
    
}
a.PDF:link
{
    
    color:  gold;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    
}
a.PDF:hover
{
    background-color: gold ;
}

